@import url('/assets/css/global.css');
/* ======================== */
/*      HTML BODY           */
/* ======================== */
html,
body {
	height: 100%;
	margin: 0;
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* ======================== */
/*        MAIN PANEL        */
/* ======================== */
.main-panel {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.form-container {
	background: white;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 550px;
	text-align: center;
	animation: fadeIn 0.5s forwards;
}

.form-label {
	font-weight: bold;
	text-align: left;
	display: block;
	font-size: 14px;
}

@media (max-width: 480px) {
	.form-container {
		padding: 20px;
	}
}

.payment-frame {
	width: 100%;
	background: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
	overflow: hidden;
}

.header {
	background: var(--primary-color);
	padding: 0.6rem;
	color: white;
}

.header h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

.header p {
	color: #dbeafe;
	margin-top: 0.25rem;
}

.qr-container {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
}

.form-input {
	width: 100%;
	padding: 7px;
	margin-bottom: 1rem;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 16px;
}

.submit-btn {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
}

.submit-btn:hover {
	background-color: #333;
}

.details-section {
	padding: 0 1.5rem 1.5rem;
}

.alert {
	background-color: #fffbeb;
	border: 1px solid #fef3c7;
	border-radius: 0.375rem;
	padding: 0.75rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.alert-amber {
	background-color: #f5f2ff;
	border-color: #cfc4ff;
}

.alert-blue {
	border-color: #dbeafe;
}

.alert-text {
	font-size: 0.875rem;
}

.alert-amber .alert-text {
	color: #000000;
}

.alert-blue .alert-text {
	color: #000000;
}

.alert-icon {
	width: 1.25rem;
	height: 1.25rem;
	color: rgb(217 119 6);
}

.progress-dots {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	margin-top: 1rem;
}

.dot {
	height: 0.5rem;
	width: 1.5rem;
	border-radius: 9999px;
}

.dot-active {
	background-color: #d89919;
}

.dot-inactive {
	background-color: #e5e7eb;
}

.step-text {
	text-align: center;
	color: #6b7280;
	font-size: 0.75rem;
	margin-top: 0.5rem;
}

.highlight {
	color: #016cfb;
	font-weight: 500;
}

img {
	max-width: 100%;
	width: 200px;
	height: auto;
	display: block;
	margin: 20px auto;
}

/* slider*/
.slider-container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider-wrapper {
	display: flex;
	transition: transform 0.5s ease;
}

.slider-item {
	min-width: 100%;
	box-sizing: border-box;
}

.slider-item img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.dots-container {
	text-align: center;
	padding: 10px 0;
}

.dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	cursor: pointer;
}

.dot.active {
	background-color: #717171;
}

h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

.supportedpayments{
	width: 100%;
	object-fit: contain;
}