:root {
	--primary-color: #03060b;
	--secondary-color: #016cfb;
	--btn: #f5ce0d;
	--error-prompt: #d9534f;
	--off-white: #faf9f6;
	--primary: #198754;
	--secondary: #ffc107;
	--further-notice: #f00;
	--success-prompt: #d1ecf1;
}

html,
body {
	height: 100%;
	margin: 0;
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.main-panel {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.form-container {
	background: none;
	padding: 0;
	width: 100%;
	max-width: 550px;
}

.payment-frame {
	width: 100%;
	background: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
	overflow: hidden;
}

/* --- Header Section --- */
.header {
	background: var(--primary-color);
	padding: 1.2rem 1rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header-title {
	text-align: center;
}

.club-title {
	font-family: "Bebas Neue", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
	color: #f5ce0d;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.title-underline {
	width: 80px;
	height: 4px;
	background: linear-gradient(to right, #f5ce0d, #ffc107);
	margin: 10px auto 0;
	border-radius: 2px;
}

.header-logo {
	max-height: 100px;
	/* larger logos */
	height: auto;
	width: auto;
	max-width: 48%;
	object-fit: contain;
}

/* --- Form Section --- */
.qr-container {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	text-align: center;
}

.form-input {
	width: 100%;
	padding: 7px;
	margin-bottom: 1rem;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 0.8rem;
}

.submit-btn {
	background-color: var(--btn);
	color: var(--primary-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
	transition: background-color 0.3s ease;
}

.submit-btn:hover {
	background-color: #e6bc0c;
}

h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

.supportedpayments {
	width: 100%;
	object-fit: contain;
}

/* Responsive layout */
@media (max-width: 576px) {
	/* .club-title {
                font-size: 1.4rem;
            } */

	.header-logo {
		max-width: 60%;
		max-height: 80px;
	}
}
