    div.dt-button-collection .dropdown-item {
        font-size: 14px;
        color: #333 !important;
        cursor: pointer;
        background-color: #ffffff !important;
        border: 1px solid #ebedf2 !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    div.dt-button-collection .dropdown-item:hover {
        background-color: #016cfb !important;
        color: #fff !important;
    }

    div.dt-button-collection {
        border: 1px solid #ddd;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    
    div.dt-button-background {
        background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.6) 100%)!important;
    }
    @media screen and (max-width: 640px) {
    div.dt-buttons {
        float: none !important;
        text-align: left!important;
    }
}
