body {
	font-family: "Montserrat", sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 300px;
	width: 100%;
}

.payment {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 15px auto;
	border: dashed 1px #c5c5c5;
	border-radius: 10px;
	background: #f7f7f7;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.payment i {
	font-size: 72px;
	color: #d80016;
}

.payment__status {
	font-size: 24px;
	color: #2b2b2b;
	position: relative;
	margin: 10px 0;
}

.payment__status:after {
	content: "";
	background: #2b2b2b;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	transition: width 0.3s ease;
	animation: border_animate 4s forwards;
}

.payment__message {
	padding: 10px 5%;
	text-align: center;
	color: #2b2b2b;
}

.payment__button {
    display: block;
    background-color: #433e5a;
    padding: 0.75rem;
    text-align: center;
    color: #f3f4f6;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 0.775rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment__button:hover {
	opacity: 0.8;
}

@keyframes border_animate {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
