/* Global Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.watermark {
  position: absolute;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.218);
  transform: rotate(-45deg);
}

/* Top left */
.watermark.tl {
  top: 220px;
  left: 20px;
}

/* Top right */
.watermark.tr {
  top: 220px;
  right: 20px;
}

/* Bottom left */
.watermark.bl {
  bottom: 120px;
  left: 20px;
}

/* Bottom right */
.watermark.br {
  bottom: 120px;
  right: 20px;
}
.form-container {
  width: 20rem;
  border-radius: 0.75rem;
  background-color: #111827;
  padding: 2rem;
  color: #f3f4f6;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  color: #9ca3af;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.input-group input,
.input-group select {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #374151;
  background-color: #111827;
  padding: 0.75rem;
  color: #f3f4f6;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: none;
  box-sizing: border-box;
}
.input-group select:focus{
  border-color: #a78bfa; 
  box-shadow: 0 0 0 2px rgba(167, 139, 250, 0.2); 
}

.input-group select {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5z" fill="%239ca3af"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1.25rem auto;
}

.input-group input:focus {
  border-color: #a78bfa; 
  box-shadow: 0 0 0 2px rgba(167, 139, 250, 0.2); 
}

.sign {
  display: block;
  width: 100%;
  background-color: #433e5a;
  padding: 0.75rem;
  text-align: center;
  color: #f3f4f6;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign:hover {
opacity: 0.8;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

