:root {
	--primary-color: #05113b;
    --secondary-color: #016cfb;
	--text-color: #fdee0b;
	--error-prompt: #d9534f;
	--off-white: #faf9f6;
	--primary: #198754;
	--secondary: #ffc107;
	--further-notice: #f00;
	--success-prompt: #d1ecf1;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
