   #loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      transition: opacity 0.5s ease, visibility 0s 0.5s;
    }

    #loader img {
      width: 140px;
      height: auto;
    }

    .hidden {
      opacity: 0;
      visibility: hidden;
    }