
 .card{
    padding: 10px;
 }
 div.dataTables_wrapper {
    width: 100%;
  }

  div.dataTables_scroll {
    width: 100% !important;
  }

  div.dataTables_scrollBody {
    width: 100% !important;
  }

  table.dataTable {
    width: 100% !important;
  }

  table.dataTable thead th {
    white-space: nowrap;
  }
  div.dt-buttons>.dt-button.disabled, div.dt-buttons>div.dt-button-split .dt-button.disabled{
    cursor: not-allowed!important;
  }